**/.DS_Store
.python-version
**/.ycm_extra_conf.py

.git
**/.gitignore
**/.gitkeep

.dockerignore
**/Dockerfile
**/.env
**/*.yml
**/*-dev.txt

**/*.md
docs
script

**/*.pyc
**/__pycache__

**/tests.*
.pytest_cache
.benchmarks

.coverage
htmlcov
prof

celerybeat-schedule
celerybeat.pid
core.*
